# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Model data (Large binary files)
ct2_model/
ct2_nllb_model/
nllb-200-3.3b-ct2/

# Data files
data/*.xlsx
!data/.gitkeep
quizApp/questions.js