# GUIライブラリ
customtkinter

# Excel操作
pandas
sentence-transformers
openpyxl

# 翻訳 (NLLB) & AIモデル用
torch
transformers
sentence-transformers
torch
sentencepiece

# その他（計算・環境管理など）
numpy
customtkinter
Pillow